@keyframes fadeOut {
  0% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
  100% {
    opacity: 1
  }
}

.fadeTransition {
  animation: fadeOut .5s ease-in-out forwards; /* Die Ausblend-Animation */
}

.board-container {
  max-height: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.board {
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
}

.col-round-scores {
  .round-score, .sum-round-score {
    width: 6rem;
    height: 6rem;
  }
  .round-score {
    background-color: rgba(200,200,200, 0.5);
  }

  .sum-round-score {
    @extend .round-score;
    background-color: transparent;
    border: none !important;
    text-decoration: underline;
  }
}

.scoreable {
  color: white
}