@import 'bootstrap/scss/bootstrap.scss';

html, body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

body {
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 19px;
  }
  @media (min-width: 1280px) {
    body {
      font-size: 20px;
    }

  }
}

@import 'loading-arcade.spinner';
